/*
	Author: Jens Hjalmarsson
	Email: jens.hjalmarsson@gmail.com

	Date: October 8, 2016
*/
/*=typography
--------------------------------------------*/
a{
	color: #37e9ca;
}
h2, h3{
	margin: 15px 0;
	font-family: 'Cormorant Garamond', serif;
}
h4, h5, h6, p, body{
	margin: 15px 0;
	font-family: 'Open Sans', sans-serif;
}
h2{
	font-size: 60px;
}
h3{
	font-size: 45px;
}
h4{
	font-size: 35px;
}
h5{
	font-size: 25px;
}
p{
	font-size: 14px;
	line-height: 30px;
}
strong{
	font-weight: bold;
}
